* {
  box-sizing: border-box;
}

/* .vertical-centering {
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
} */

.webcam {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 800px;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

/* header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #007360;
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
} */